.splash-main {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    background-color: #007cb4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-main-div {
    min-width: 50vw;
    min-height: 50vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
    border-color: white;
}

.splash-name-div-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.splash-logo-div {
    min-width: 15vw;
    min-height: 100%;
    animation: fade-in 1.5s;
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
}

.splash-name-details {
    margin: 0px 8px;
    min-width: 35vw;
    display: flex;
	flex-direction: column;
    justify-content: space-around;
    font-size: 48px;   
    text-align: center;
    color: white;
}

.splash-name-details-name {
    font-family: "Lomesty"; 
    font-size: 2.5em;
    padding: 24px 0px;
    font-weight: bold;
    animation: fade-in 2.5s;
}

.splash-name-details-role {
    font-family: "Inter-Regular";
    animation: fade-in 3.5s;
    font-style: italic;
}

.splash-name-div-top-border,
.splash-name-div-bottom-border {
    min-width: 25vw;
    min-height: 1vh;
    background: white;
    animation: left-to-right 2.5s;
}

.splash-name-div-bottom-border {
    animation: right-to-left  2.5s;
}


@media screen and (max-width: 1400px) and (min-width: 0px) {
    .splash-name-div-content {
        flex-direction: column;
    }

    .splash-name-details {
        flex-direction: column;
        padding-bottom: 48px;
        font-size: 24px;
    }

    .splash-name-details-name {
        padding: 0px;
    }

    .splash-logo-div {
        padding-top: 8px;
        padding-bottom: 0px;
        transform: scale(0.8);
    }
  }

@keyframes fade-in {
    0%{opacity:0}
    75% {opacity:0}
    100%{opacity:1}
}

@keyframes right-to-left {
    from { clip-path: inset(0 0 0 100%); }
    to { clip-path: inset(0 0 0 0); }
}

@keyframes left-to-right {
    from { clip-path: inset(0 100% 0 0); }
    to { clip-path: inset(0 0 0 0); }
}
